DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

JWT_SECRET="yout jwt secret"
JWT_EXPIRES_IN="1d"

REDIS_URL="redis://localhost:6379"

WEBHOOK_SECRET="your webhook secret"

MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION="false"